/*@charset "UTF-8"*/
/* CSS Document*/

.hidden {
	display: none;
}

body {
	background-color: #E2E1CF;
}

#container
{
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
	background-color: #E2E1CF;
	padding: 20px;
	flex-flow: column wrap;

}


body
{
	font-family: Frankling Gothic Book, Arial, sans-serif;
	font-size: 14px;
	padding: 5px;
	text-align: left;
	line-height: 16px;
}

h2{
	font-family: Sofia, Lobster, cursive;
	font-size: 45px;
	color: #8F8F67;
	padding: 20px;
	line-height: 40px;
	text-align: center;
}

h3 label{
	font-family: Frankling Gothic, Arial , sans-serif;
	font-weight: bold;
	color: #919066;
	font-size: 15px;
	line-height: 25px;
}

h4{
	font-family: Frankling Gothic, Arial, sans-serif;
	font-style: italic;
	font-size: 14px;
}

img{
	display: block;
}


.button{
	width: 130px;
	height: 30px;
	padding: 5px;
	font-size: 14px;
	margin-top: 10px;
	font-weight: bold;
	color: white;
	text-align: center;
	background-color: #DD398C;
	border: 2px;
	border-style: solid;
	border-color: #D67FB3;
	border-radius: 7px;
}

.button:hover
{
	background-color: #299cb7;
	border-color: #5fbdd4;
}

#mainHeader
{
	display: flex;
	justify-content: flex-start;
}

#navContainer
{
	width: 960px;
	height: 50px;
	margin-top: 30px;
	background-color: transparent;
	display: inline-flex;
	position: absolute;
}

#mainNavCon
{
	width: 770px;
	height: 40px;
	padding: 5px;
	background-color: #5fbdd4;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}

#logo
{
	width: 180px;
	height: 40px;
	margin-left: 20px;
}


#mainNav
{
	width: 590px;
	height: 50px;
	margin-left: 30px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}


.navBox li a
{
	background-color: #299cb7;
	width: 100px;
	height: 20px;
	padding: 5px;
	margin: 10px;
	color: white;
	font-family: Oswald, Arial, sans-serif;
	font-weight: bold;
	font-size: 21px;
	text-decoration: none;
	display: block;
	text-align: center;
	float: left;
}

.navBox li a:hover
{
	background-color: #fff;
	color: #299cb7;
}

#subNavCon
{
	width: 170px;
	height: 30px;
	background-color: #5fbdd4;
	margin-left: 20px;
	padding: 10px;

}

.subNavView {
	margin-left: 20px;
	display: inline-flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

/*home*/

#homeMainBanner{
	display: block;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.imagebanner img {
	width: 960px;
	flex:2;
}


.textImageMainBanner {
	width: 400px;
	height: 220px;
	top: 200px;
	margin-left: 40px;
	color: white;
	flex: 1;
	position: absolute;
}

.textImageMainBanner button {
	background-color: #BBBC99;
	border-color: #8F8F67;
}

.textImageMainBanner h2 {
	color: white;
	text-align: left;
	margin-left: -20px;
}



#goShop
{
	height: 400px;
}

#shopSection
{
	margin-top: 20px;
	alignment-baseline: central;

}

.products
{
	margin-top: 20px;
	flex-flow: row wrap;
	display: inline-flex;

}

.productsHome{
	width: 130px;
	align-items: center;
	text-overflow: initial;
	margin: 10px;

}

#springPromo
{
	height: 230;
	margin-top: 20px;
	display: block;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

#aboutHome /*block*/
{
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.textImageBanner {
	width: 400px;
	height: 220px;
	top: 970px;
	margin-left: 40px;
	flex: 1;
	position: absolute;
}

.textImageBanner h2 p button {
	width: 280px;
	height: 220px;
	margin-top: 50px;
	flex: 1;
	display: inline-block;
	align-items: center;
}

.textImageBanner h2 {
	color: #DD398C;
	text-align: left;
	margin-left: -20px;
}

.image{
	border: 5px;
	border-color: white;
}

.asideText{
	width: 430px;
	padding: 20px;
}

.asideText span {
	font-style: italic;
	text-align: center;
	font-weight: bold;
	color: #8F8F67;
}

/*footer*/

#mainFooter{
	width: 90px;
	height: 120px;
	margin-bottom: 30px;
	margin-top: 30px;
	background-color: transparent;
}

.footerCon{
	width: 960px;
	height: 80px;
	padding: 20px;
	background-color: #5fbdd4;
	display: flex;
	display: inline-flex;
}


#footerLogo
{
	width: 130px;
	align-items: flex-start;
}


#copyRight
{
	width: 130px;
	padding: 10px;
	font-size: 10px;
	color: white;
	text-align: right;
	line-height: 15px;
	margin-left: 20px;
}

#footerMainNav
{
	width: 420px;
	height: 30px;
	margin: 10px;
	display: inline-block;
	flex-direction: column;
	justify-content: space-around;
	flex-flow: wrap;
}

.navBoxfooter li a
{
	width: 80px;
	height: 20px;
	padding: 5px;
	margin: 5px;
	margin-top: 10px;
	color: white;
	font-weight: normal, bold, bold;
	font-size: 15px;
	text-decoration: none;
	display: block;
	text-align: center;
	float: left;
}

.navBoxfooter li a:hover
{
	color: #299BB6;
	font-weight: bold;
}
#footerSubNav
{
	width: 130px;
	height: 30px;
	padding: 10px;
	margin-top: 10px;
	margin-left: 20px;
	display: inline-flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;

}

/*page 2 - About us*/

#aboutMainBanner{
	display: block;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.aboutImagebanner img {
	width: 960px;
	flex:2;
}


.aboutTextBanner {
	width: 400px;
	height: 220px;
	top: 120px;
	margin-left: 40px;
	flex: 1;
	position: absolute;

}


.aboutTextBanner span {
	color: #299BB6;
	font-weight: bold;

}

.aboutTextBanner p {
	margin-top: 10px;

}
.aboutTextBanner h2 {
	color: #344F9D;
	text-align: left;
	margin-left: -20px;
}

#ourTeamCon
{
	width: 960px;
	height: 430px;
	align-items: central;
}

#teamSection
{
	margin-top: 10px;
}

.team
{
	width: 920px;
	height: 430px;
	display: inline-flex;
	flex-direction: row;
}

.teamMembers{
	width: 280px;
	align-items: center;
	text-overflow: initial;
	margin: 20px;
}

.teamMembers h3{
	margin-top: 10px;
}

/*page 3*/
#shopCon
{
	width: 960px;
	justify-content: center;
	flex-direction: column;
}

#maticoBabys
{
	height: 650px;
	margin-top: 100px;
	align-items: center;
}

.maticoLogosImg
{
	width: 150;
	height: 60;
	margin-top: 20px;
	margin-left: 400px;
}

.productSet
{
	width: 900px;
	height: 430px;
	padding: 30px;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.productImg
{
	width: 130px;
	align-items: center;
	text-overflow: initial;
	margin: 10px;
}

.productImg h3
{
	margin: 5px;
	text-align: center;
	font-weight: bold;
	color: #49493E;
}

#maticoKids
{
	height: 380px;
	background-color: #BBBC99;
	margin-top: 20px;
	align-items: center;
}

#maticoKids button
{
	background-color: #344F9D;
	border-color: #6FA0D5;
}

#maticoKids button:hover
{
	background-color: #D67FB2;
	border-color: #DD398C;
}

#maticoCollection
{
	height: 380px;
	margin-top: 20px;
	align-items: center;
}

#maticoCollection button
{
	background-color: #8F8F67;
	border-color: #BBBC99;
}

#maticoCollection button:hover
{
	background-color: #606060;
	border-color: #777777;
}

#disclaimerCon
{
	height: 160px;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: #777777;
	justify-content: center;
	flex-direction: column;
}
.disclaimer h2
{
	padding: 20px;
	color: white;
	text-align: center;
	align-items: center;
}
.disclaimer p
{
	padding: 20px;
	margin: 0px, 20px;
	color: white;
	text-align: center;
	align-items: center;
}

/*page 4*/

#contactCon
{
	width: 960px;
	height: 600px;
	display: inline-flex;
	align-items: flex-start;
}
.contactForm
{
	width: 960px;
	height: 600px;
	align-items: central;
	margin-top: 100px;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;

}

#textContactCon
{
	width: 390px;
	height: 100px;
	margin-bottom: 40px;
}


#formCon
{
	width: 430px;
	height: 690px;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.formIterm {
	width: 370px;
	height: 100px;
	padding: 20px;
	margin: 40px;

}

.imageForm
{
	width: 470px;
	flex-direction: row;
}
